<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>new</title>
	<link href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		
		<form class="form-horizontal" action="/new" method="post">
			<div class="control-group">
				<h2 class="sub-header" style="padding-left:130px;">新增学生信息</h2>
		  	</div>
		  <div class="control-group">
		    <label class="control-label" for="inputName">姓名</label>
		    <div class="controls">
		      <input type="text" id="inputName" placeholder="姓名" name="name">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputAge">年龄</label>
		    <div class="controls">
		      <input type="text" id="inputAge" placeholder="年龄" name="age">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputWords">备注</label>
		    <div class="controls">
		      <input type="text" id="inputWords" placeholder="备注" name="words">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputHobbies">学校</label>
		    <div class="controls">
		      <input type="text" id="inputHobbies" placeholder="学校" name="school">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button class="btn btn-success">提交</button>
		    </div>
		  </div>
		</form>
	</div>
	
</body>
</html>